@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* set margin and padding to 0 for the body tag in the style.css file. */
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.logo-size {
  width: 60px;
  height: 60px;
}